@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.btn {
  background-color: $color-red;
  color: $color-black;
  border-color: $color-red;
  margin-left: 4rem;
  &:hover {
    background-color: $color-red;
    color: $color-black;
  }
}
.navbar {
  padding: 0;
  &-brand {
    color: $color-orange;
    &:hover {
      color: $color-red;
    }
  }
}

.container-fluid {
  height: 10vh;
  background-color: $color-black;
  //   background-color: rgba(30, 1, 1, 255);
}

.form-control {
  background-color: $color-black;
  color: $color-orange;
  border-color: $color-orange;

  &::placeholder {
    color: $color-orange;
  }
}
