@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;

.App-title {
  color: $color-white;
  margin-top: 55vh;
  margin-left: 39vw;
  transition: 0.3s;

  &:hover {
    color: $color-yellow;
    transform: scale(1.1);
  }
}
