@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.primevideo-container {
  width: 100vw;
  padding-top: 2rem;
  background-color: $color-black;
  margin-inline: auto;

  @include flexbox(row, space-evenly, center);
  flex-wrap: wrap;
}

.shows__card {
  color: $color-yellow;
  width: 25vw;
  height: 40rem;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 5rem;
  transition: 0.3s;

  @include flexbox(column, space-around, flex-start);

  &:hover {
    transform: scale(1.1);
  }
}

.shows {
  &__img {
    width: 15rem;
    height: 15rem;
    border-radius: 25px;
    object-fit: contain;
    margin-left: 2rem;
  }

  &__title {
    color: $color-orange;
    margin-bottom: 1rem;
  }
}
